/* Asegurar que todo el contenido ocupe toda la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  /* Contenedor de contenido principal para que el footer se mantenga al fondo */
  .content {
    flex: 1;
  }
  
  /* Estilos del footer */
  .footer {
    background-color: #F4B400;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-section {
      margin-bottom: 10px;
    }
  }

  .table-text {
    font-size: 0.875rem; /* 14px */
    padding: 0.5rem 1rem; /* Menos padding */
  }
  
  .table-header {
    font-size: 0.875rem; /* 14px */
    padding: 0.5rem 1rem; /* Menos padding */
  }
  