.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.cart-items {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.cart-item {
  height: 150px;
  width: 640px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Evita que los elementos internos se salgan */
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  overflow: hidden; /* Asegura que el contenido dentro de la imagen no se salga */
}


.product-details {
  flex: 1; /* Para que el contenido se extienda y ajuste el espacio */
}

.product-details h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.product-details p {
  font-size: 16px;
  color: #555;
  margin: 5px 0 0 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.quantity-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.quantity-btn:hover {
  background-color: #e0e0e0;
}

.remove-btn {
  background-color: #ffd700;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #e0a800;
}

.cart-summary {
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cart-summary h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

.summary-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.checkout-btn {
  background-color: #ffd240fb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #ffac33;
}

  