/* Contenedor de los productos */
.product-list {
  display: flex;
  justify-content: center; /* Centra los productos horizontalmente */
  gap: 20px; /* Ajusta el espacio entre los productos */
  flex-wrap: wrap; /* Permite que los productos se ajusten en varias filas */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px;
}

/* Tarjetas individuales de producto */
.product-card {
  flex: 1 1 200px; /* Asegura que las tarjetas tengan un tamaño consistente y responsivo */
  max-width: 250px; /* Define un ancho máximo */
  margin: 10px; /* Reduce el espacio entre las tarjetas */
}
