


.slider {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.slider {
  overflow: hidden;
}
.slick-slide img {
  max-width: 100%;
  max-height: 300px; /* Ajusta este valor según sea necesario */
  object-fit: cover; /* Asegura que la imagen no se deforme */
  margin: 0 auto;
  border-radius: 20px;
}


.slider-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px; /* Añade un pequeño espacio arriba si es necesario */
}
